:root {
  /* --main-color: #F6F4EB; */
  --main-color: #FFFBDE;
  /* --sec-color: #91C8E4; */
  --sec-color: #33b3b2;
  --text-color: #000;
  --text-color2: #BACD92;
  --section-padding: 100px;
  --main-transition: 0.3s;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--main-color);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.main-head {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.main-head::before {
  /* content: ""; */
  top: -13px;
  width: 60%;
  height: 100%;
  position: absolute;
  border-bottom: 1px solid var(--text-color2);
}
.main-head h2 {
  font-size: 27px;
  color: var(--text-color);
  text-transform: capitalize;
  margin-bottom: 7px;
}
.main-head p {
  padding: 0 20px;
  /* background-color: var(--main-color); */
  color: var(--text-color2);
  text-transform: uppercase;
  font-size: 19px;
  /* z-index: 1; */
}
@media (max-width: 767px) {
  .main-head h2 {
    font-size: 21px;
  }
  .main-head p {
    font-size: 17px;
  }
}
/* End Global Rules */
/* Start Header */
.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border-bottom: 1px solid var(--text-color);
}
.header .container .logo img {
  height: calc(75px - 21px);
}
.header .container i {
  display: none;
  color: var(--text-color);
}
.header .container ul {
  display: flex;
}
.header .container ul li a {
  color: var(--text-color);
  font-weight: 500;
  padding: 10px;
  margin: 0 10px;
}
.header .container ul li:last-child a {
  padding-right: 0;
  margin-right: 0;
}
@media (max-width: 992px) {
  .header .container ul li a {
  font-size: 15px;
  margin: 0;
  padding: 9px;
}
}
@media (max-width: 767px) {
  .header .container i {
    display: block;
  }
  .header .container ul {
    display: none;
  }
  .header .container i:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--main-color);
    border: 1px solid var(--text-color2);
    border-radius: 0 0 25px 25px;
    overflow: hidden;
    z-index: 3;
  }
  .header .container ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 0;
    font-size: 23px;
    border-bottom: 1px solid var(--text-color2);
    margin: 0;
  }
}
.header .container ul li a:hover {
  color: var(--text-color2);
}
/* End Header */
/* Start Landing */
.landing {
  background-image: linear-gradient(var(--main-color), var(--sec-color));
}
.landing .container {
  min-height: calc(100vh - 75px);
  display: flex;
  align-items: center;
}
.landing .container .text {
  flex: 1;
}
.landing .container .text h1 {
  font-size: 41px;
  margin: 0;
  color: var(--text-color);
  text-transform: capitalize;
}
.landing .container .text p {
  font-size: 23px;
  font-weight: 300;
  line-height: 1.6;
  max-width: 500px;
  margin: 21px 7px;
  color: var(--text-color);
}
@media (max-width:767px) {
  .landing .container .text  {
    text-align: center;
  }
  .landing .container .text h1 {
    font-size: 23px;
  }
  .landing .container .text p {
    font-size: 18px;
  }
  }
.landing .container .text span {
  display: inline-block;
  color: var(--main-color);
  background-color: var(--text-color);
  font-size: 17px;
  font-weight: 700;
  padding: 11px 21px;
  border: 1px solid var(--text-color);
  border-radius: 21px;
}
.landing .container .text span:hover {
  background-color: var(--text-color2);
}
.landing .container .slide-box {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  position: relative;
}
.landing .container .slide-box .slide {
  position: absolute;
  max-width: 100%;
}
.landing  .container .slide-box .show {
  z-index: 3;
}
@media (max-width: 767px) {
  .landing .container .slide-box {
    display: none;
  }
}
/* End Landing */
.collections {
  padding: var(--section-padding) 0;
}
.collections .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.collections .container .box {
  position: relative;
}
.collections .container .box::before {
  content: "";
  position: absolute;
  top: 90px;
  right: 0;
  width: 100%;
  height: calc(100% - 90px);
  background-color: var(--sec-color);
  border-radius: 10px;
  z-index: -2;
}
.collections .container .box .img-box {
  position: relative;
  width: calc(100% - 60px);
  margin: 0 auto;
  overflow: hidden;
}
.collections .container .box .img-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  opacity: 0;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
}
.collections .container .box .img-box:hover::after {
  animation: flashing 0.7s;
}
.collections .container .box .img-box img {
  max-width: 100%;
  transition: 0.3s;
  border-radius: 13px;
}
.collections .container .box .img-box:hover img {
  transform: rotate(5deg) scale(1.1);
}
.collections .container .box .text {
  padding: 0 15px;
}
.collections .container .box .text h3 {
  padding-top: 10px;
  color: var(--text-color);
}
.collections .container .box .text p {
  margin-bottom: 11px;
  line-height: 1.2;
  color: var(--text-color);
}
.collections .container .box .text p:last-child {
  padding-bottom: 15px;
}
/* Start Photography */
.Photography {
  padding: var(--section-padding) 0;
  background-color: var(--sec-color);
}
.Photography .main-head h2 {
  background-color: var(--sec-color);
}
.Photography .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .Photography .container {
    flex-direction: column;
  }
}
.Photography .container .img {
  flex: 0 0 50%;
  margin-right: 35px;
  margin-bottom: 21px;
}
.Photography .container .img img {
  max-width: 100%;
}
.Photography .container .text h3 {
  margin-top: 33px;
  font-size: 27px;
  text-transform: uppercase;
  color: var(--text-color);
}
.Photography .container .text p {
  margin: 17px 0;
  line-height: 1.2;
  color: var(--text-color2);
  font-size: 16px;
  font-weight: 500;
}
.Photography .container .text p:last-child {
  margin-top: 10px;
}
.Photography .container .text span {
  display: block;
  width: fit-content;
  margin: 29px 0;
  padding: 11px 21px;
  font-size: 13px;
  font-weight: bold;
  color: var(--main-color);
  background-color: var(--text-color);
  text-transform: capitalize;
  border: 1px solid var(--text-color);
  border-radius: 21px;
}
/* End Photography */
/* Start Painting & Drawing */
.Album {
  padding: var(--section-padding) 0;
}
.Album .container {
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.Album .container .marquee {
  display: flex;
  width: calc(250px * 12);
  animation: scroll-left 20s linear infinite;
}
.Album .container .marquee img {
  margin-right: 20px;
  border-radius: 10px;
}
/* End Painting & Drawing */
/* Start Sculpture */
.Sculpture {
  padding: var(--section-padding) 0;
  background-color: var(--sec-color);
}
.Sculpture .main-head h2 {
  background-color: var(--sec-color);
}
.Sculpture .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .Sculpture .container {
    flex-direction: column;
  }
}
.Sculpture .container .img {
  flex: 0 0 50%;
  margin-left: 35px;
  margin-bottom: 21px;
}
.Sculpture .container .img img {
  max-width: 100%;
}
.Sculpture .container .text h3 {
  margin-top: 33px;
  font-size: 27px;
  text-transform: uppercase;
  color: var(--text-color);
}
.Sculpture .container .text p {
  margin: 17px 0;
  line-height: 1.2;
  color: var(--text-color2);
  font-size: 16px;
  font-weight: 500;
}
.Sculpture .container .text p:last-child {
  margin-top: 10px;
}
.Sculpture .container .text span {
  display: block;
  width: fit-content;
  margin: 29px 0;
  padding: 11px 21px;
  font-size: 13px;
  font-weight: bold;
  color: var(--main-color);
  background-color: var(--text-color);
  text-transform: capitalize;
  border: 1px solid var(--text-color);
  border-radius: 21px;
}
/* End Sculpture */
/* Strat Services */
.Services {
  padding: var(--section-padding) 0;
}
.Services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
}
.Services .container .box {
  position: relative;
  background-image: url(../imgs/cat-01.jpg);
  background-size: cover;
  border-radius: 25px;
  color: #fff;
  padding: 100px 30px;
  text-align: center;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.Services .container .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  /* background-color: rgb(0 0 0 / 30%); */
  z-index: -1;
}
.Services .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px #000;
}
.Services .container .box:hover::after {
  background-color: rgb(0 0 0 / 50%);
}
.Services .container .box h3 {
  padding: 15px 0;
  text-transform: uppercase;
  border-bottom: 2px solid #fff;
}
.Services .container .box p {
  padding: 10px 0;
  margin: 25px 0;
  line-height: 1.2;
}
.Services .container .box span {
  font-weight: 900;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 7px 17px;
  border: 1px solid #fff;
  cursor: pointer;
}
/* End Services */
/* Start Contact */
.contact {
  padding: var(--section-padding) 0;
  background-color: var(--sec-color);
}
.contact .main-head h2 {
  background-color: var(--sec-color);
}
.contact .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.contact .container .col img {
  max-width: 100%;
  border-radius: 0 25px;
}
.contact .container .col > h3 {
  margin: 9px 0;
  font-size: 21px;
  color: var(--text-color);
  text-transform: uppercase;
}
.contact .container .col form {
  text-align: center;
}
.contact .container .col form input, textarea {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid var(--text-color2);
  border-radius: 5px;
}
.contact .container .col form input[type="submit"] {
  width: fit-content;
  padding: 11px 27px;
  background: var(--main-color);
  color: var(--text-color);
  font-weight: bold;
}
.contact .container .col .row:first-child {
  margin-bottom: 37px;
  padding-bottom: 37px;
  border-bottom: 2px solid var(--text-color2);
}
.contact .container .col .row {
  text-align: center;
}
.contact .container .col .row h3 {
  margin: 9px 0;
  font-size: 21px;
  color: var(--text-color);
  text-transform: uppercase;
}
.contact .container .col .row p {
  color: var(--text-color2);
  margin: 5px 0;
  font-weight: 500;
}
/* End Contact */
/* Start Footer */
.footer {
  padding-top: var(--section-padding);
  background-color: var(--main-color);
}
.footer .container  {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.footer .container  .col h5 {
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 1.2;
  font-size: 23px;
  color: var(--text-color);
}
.footer .container  .col ul li {
  padding: 9px 0;
}
.footer .container  .col ul li a {
  color: var(--text-color2);
}
.footer .container  .col p {
  padding: 10px 0;
  color: var(--text-color2);
}
.footer .container  .col form {
  display: flex;
}
.footer .container  .col input {
  border-radius: 5px;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid var(--text-color2);
}
.footer .container  .col input[type="button"] {
  background-color: var(--text-color);
  font-weight: bold;
  color: var(--main-color);
  width: fit-content;
}
.footer .container  .col input[type="button"]:hover {
  background-color: var(--text-color2);
}
.footer .container:last-child  {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--text-color2);
  margin-top: 40px;
  padding: 23px 0;
  align-items: center;
}
.footer .container:last-child p {
  color: var(--text-color);
}
.footer .container:last-child ul {
  display: flex;
}
.footer .container:last-child ul i {
  margin: 0 11px;
  font-size: 27px;
  color: var(--text-color);
}
/* End Footer */
/* Start Fixed Widget */
.widget {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 45px;
  width: 100%;
  color: #e3e3e3;
}
.widget::before {
  content: "";
  position: absolute;
  right: 10%;
  width: 80%;
  height: 100%;
  padding: 30px;
  background-color: rgba(0, 0, 0, 40%);
  backdrop-filter: blur(10px);
  z-index: -1;
  border-radius: 13px;
}
/* .widget .container {
  
} */
.widget .img-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 250px;
}
.widget .img-box img {
  position: absolute;
  max-width: 100%;
  border-radius: 13px;
}
.widget .text h3 {
  font-size: 32px;
  margin-bottom: 12px;
}
.widget .text p {
  font-size: 20px;
}
.widget .info span {
  font-size: 18px;
  padding: 12px 16px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .widget .img-box {
    display: none;
  }
  .widget .text h3 {
    font-size: 25px;
  }
  .widget .text p {
    font-size: 15px;
  }
  .widget .info span {
    font-size: 15px;
  }
}
.widget .info span:first-child {
  color: #ffffff99;
}
/* End Fixed Widget */
/* Start Animation */
@keyframes flashing {
  0%, 40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* End Animation */